#playField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a6c771
;
}

.row{
    display: flex;
    flex-direction: row;
}

img {
    height: 84px;
    width: 103px;
}